<div class="uiOptions">
	<div class="btn btnContinue">Continue</div>
	<div class="btn btnScreen">Windowed</div>
	<div class="btn btnCharSelect">Character Select</div>
	<div class="btn btnLogOut">Log Out</div>
	<div class="btn btnPatreon">Pledge on Patreon</div>
	<div class="btn btnIssue">Report an Issue</div>
</div>